server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location /api/ {
        proxy_pass ${API_UPSTREAM}/;
        proxy_set_header Host $proxy_host;
        proxy_ssl_server_name on;
    }

    location / {
        try_files $uri /index.html;
    }
}
